.progress {
  padding: 0.3rem 0 0 0;
  // height: 100%;
  background-color: #ffffff;
  &-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.29rem 0rem 0.23rem;
    font-size: 0.35rem;
  }
  .ant-steps {
    padding: 0 0.24rem;
  }
  &-node {
    border-radius: 50%;
  }
  &-info {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    text-align: end;
    color: #333333;
    padding: 0.05rem;
    &--name {
      //display: flex;
      //flex-direction: row;
      //flex: 1;
      //align-items: flex-end;
      //flex-wrap: wrap;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      overflow: hidden;
    }
    &--time {
      //display: flex;
      //align-items: flex-end;
      //text-align: center;
      //min-width: 2.7rem;
      margin-top: 0.1rem;
      //margin-right: 0.05rem;
    }
  }
  @mixin dotSize {
    width: 0.26rem;
    height: 0.26rem;
    border-radius: 0.26rem;
    @extend .ant-steps-icon-dot;
  }
  .bg-gray {
    .ant-steps-icon-dot {
      background-color: #d0ccc7 !important;
    }
    .adm-step-icon-dot {
      @include dotSize();
    }
  }
  .bg-green {
    .ant-steps-icon-dot {
      background-color: #00ce6d !important;
    }
    .adm-step-icon-dot {
      @include dotSize();
    }
  }
  .bg-orange {
    .ant-steps-icon-dot {
      background-color: #ffa300 !important;
    }
    .adm-step-icon-dot {
      @include dotSize();
    }
  }
  .bg-red {
    .ant-steps-icon-dot {
      background-color: red !important;
    }
    .adm-step-icon-dot {
      @include dotSize();
    }
  }
}
