.canvas-nav {
    background-image: url('../img/mobile/grid-back.png');
    height: 500px;
    margin: 20px;
    border-radius: 19px;
    border: 1px dashed #c3c7c7;
}
.sign {
    height: 100vh;
    background-color: #ffffff;
}